# Auto detect text files and perform LF normalization
* text=auto
"C:\Users\moumi\OneDrive\Documents\beecrowd 1045.c"
"C:\Users\moumi\OneDrive\Documents\beecowd 1021.c"
"C:\Users\moumi\OneDrive\Documents\beecowd 1021.exe"
"C:\Users\moumi\OneDrive\Documents\beecowd 1021.o"
"C:\Users\moumi\OneDrive\Documents\beecowd 1557.c"
"C:\Users\moumi\OneDrive\Documents\beecowd 1557.exe"
"C:\Users\moumi\OneDrive\Documents\beecowd 1557.o"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1018.c"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1018.exe"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1018.o"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1021.c"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1021.exe"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1021.o"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1040.c"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1040.exe"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1040.o"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1042.c"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1042.exe"
"C:\Users\moumi\OneDrive\Documents\beecrowd 1042.o"




